@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: beige;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav_link {
  display: none;
}

.nav_link.show {
  display: block;
}

.nav_bar {
  padding: 15px;
  cursor: pointer;
}

.nav_bar::before {
  content: '\2630';
  font-size: 25px;
}

.subjects {
  position: relative;
  width: 95%;
  padding: 12px;
  cursor: pointer;
}

.subjects::before {
  content: "Select Subject (CLICK ME)";
}

.buttonBox {
  display: none;
  width: 90%;
  padding: 0.5vh 1vw 0.5vh 1vw;
  margin: 10px auto;
  background-color: yellow;
}

.subjects.open .buttonBox {
  display: block;
}

.titleBar {
    background-color: greenyellow;
}